{{page-title (t "page_titles.candidates")}}

<h1 class="h2">{{t "page_titles.candidates"}}</h1>

<table class="table">
    <thead>
        <tr>
            <th>{{t "labels.name"}}</th>
            <th>{{t "labels.age"}}</th>
        </tr>
    </thead>
    <tbody>
        {{#each model as |applicant|}}
            <tr>
                <td>{{applicant.name}}</td>
                <td>{{applicant.age}}</td>
            </tr>
        {{else}}
            <tr>
                <td colspan="2">{{t "status_messages.no_records_found"}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>

<LinkTo
    class="btn btn-dark"
    @route="candidates.candidate"
    @model="new"
>
    {{t "buttons.add_new"}}
</LinkTo>
